.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
  }
  