<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/tailwind.css">
    <link rel="stylesheet" href="dist/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="img/9.jpg">
</head>
<body class="bg-gray-300 text-gray-800 fade-in-element">

    <!-- Bagian Navigasi -->
    <nav class="flex justify-between items-center bg-grey/50 text-white py-4 px-8 fixed w-full top-0 z-10 fade-in-element">
        <div class="flex items-center">
            <!-- Logo -->
            <a href="link"><img src="img/Untitled-1.png" alt="Logo" class="fade-in w-5 h-auto mr-3"></a> 
            <span class="text-lg font-bold"></span>
        </div>
        <ul class="flex space-x-8">
            <li><a href="#about" class="hover:bg-gray-700 hover:text-white px-4 py-2 rounded transition duration-300">About</a></li>
            <li><a href="#project" class="hover:bg-gray-700 hover:text-white px-4 py-2 rounded transition duration-300">Project</a></li>
            <li><a href="#contact" class="hover:bg-gray-700 hover:text-white px-4 py-2 rounded transition duration-300">Contact</a></li>
        </ul>
    </nav>
<!-- Section: Landing Page -->
<header id="home" class="relative w-full fade-in-element">
    <div class="image-container">
        <!-- <img src="img/poto.jpg" alt="Gambar Landing Page" /> -->
    </div>
    <a href="">
        <h1 id="landing-text" class="textlama text-white text-7xl font hover:text-black px-4 py-2 rounded transition duration-300 ">
            Welcome
        </h1>
    </a>
</header>

<!-- Bagian:aboutme  -->
<section id="about" class="py-20 mt-20 fade-in-element">
    <div class="container mx-auto flex items-center space-x-10">
        <div class="circle-container">
            <img src="img/waifu gua.png" alt="Profile Picture" class="w-full h-full object-cover">
        </div>
        <div id="about-content">
            <h1 id="introduction" class="text-baru text-3xl font-semibold mb-4">HI!!.. Aku Muhammad Marza Ananda</h1>
            <h2 id="about-heading" class="text-xl  mb-2">Tentang Saya</h2>
            <p id="about-paragraph" class="mb-4">
                Aku adalah seorang yang suka main komputer :)<br>
                Sebagai seorang yang tertarik pada pengembangan web dan dunia kreatif, saya memiliki minat besar dalam bidang frontend development serta editing konten.
            </p>
            <p id="about-paragraph-new" class="mb-4">
                Saya memiliki pengalaman dalam frontend development menggunakan HTML, CSS, JavaScript, dan React, dengan fokus pada pembuatan antarmuka yang interaktif dan responsif. Saya juga sangat memperhatikan desain yang mudah diakses oleh semua pengguna. Sebagai editor, saya berpengalaman mengelola konten, mengedit artikel, video, dan gambar menggunakan Adobe Photoshop, Premiere Pro, dan Figma. Keahlian ini memungkinkan saya untuk menghasilkan karya yang detail dan berkualitas, baik dalam pengembangan maupun penyuntingan.
            </p>
            <button id="btn-id" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">Bahasa Indonesia</button>
            <button id="btn-en" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">English</button>
            <button id="btn-es" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">Español</button>
        </div>
    </div>
</section>


<!-- Section: My Performance -->
<section id="project" class="py-12 fade-in-element">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-8">My performance</h2>

        <div id="project-grid" class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <a href="https://www.youtube.com/watch?v=a4ngVyAL1pU&list=LL&index=94" target="_blank" class="block bg-white-500 text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
                <img src="img/maxresdefault.jpg" alt="Gambar" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg mt-4">Patali Saraga</h3>
                    <p class="text-gray-600">Baheula dicaritakeun ngeunaan rumaja di MAN 2 Cianjur, khususna di kelas 12 IPA 1. Siti salah sahiji murid anu kakoncara ku prestasina, Siti mah ahli nari jeung pinter di kelasna. anjeunna oge murid beunghar. Lia téh babaturan deukeut Siti, duaan geus kawas kulawarga. Tapi, lamun timbul masalah anu ngabalukarkeun hubungan maranéhanana putus alatan salah paham anu dijieun ku Lia anu ngajadikeun Siti ambek pisan, bakal Siti jeung Lia tetep babaturan? sanajan aya loba konflik di kelas.</p>
                </div>
            </a>
            <a href="https://youtu.be/RCXP9WjT67g?feature=shared" target="_blank" class="block bg-white-500 text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
                <img src="img/sddefault (1).jpg" alt="Gambar" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg mt-4">Smart Werdrobe Mirror</h3>
                    <p class="text-gray-600">
                        FINAL PROJECT SAMSUNG INOVATION CAMPUS BATCH 4 TIM 55 AL - AMAL AL - MUDIA MAN 2 CIANJUR</p>
                </div>
            </a>
            <a href="index.html" target="_blank" class="block bg-white-500 text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
                <img src="img/2.PNG" alt="Gambar" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg mt-4">Marza V1</h3>
                    <p class="text-gray-600">sebuah karya website yang dibuat dengan sketsa melalui canva dan di implementasikannya menggunakan framework tailwindcss serta JavaScript</p>
                </div>
            </a>
            <!-- Proyek tambahan yang disembunyikan -->
            <a href="masih belom di buat" target="_blank" class="block bg-white-500 text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 hidden-project fade" style="display:none;">
                <img src="img/Untitled-1.jpg" alt="Gambar" class="w-full h-48 object-cover">
                    <div class="p-4">
                        <h3 class="text-lg mt-4">Coming Soon !</h3>
                        <p class="text-gray-600">Sabar yaa :)</p>
                    </div>
            </a>
        </div>
        <div class="mt-8">
            <button id="load-more" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">
                More
            </button>
            <button id="close-projects" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50" style="display:none;">
                Close
            </button>
        </div>

    </div>
</section>



<!-- Footer -->
<footer id="contact" class="bg-gray-300 w-full h-screen flex items-center fade-in-element ">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center h-full">
        <div class="slideshow-container w-full h-full relative">
            <div class="slides">
                <img src="img/cara-mendapatkan-pekerjaan.png" class="w-full h-full object-cover" alt="Gambar 1">
            </div>
            <div class="slides">
                <img src="img/photo-6038517323331121513-x-cc7762ba91ad632c680cfb68da97b3e9-4c133d52a29a351704c48367360c55fd.jpg" class="w-full h-full object-cover" alt="Gambar 2">
            </div>
            <div class="slides">
                <img src="img/images (1).jpg" class="w-full h-full object-cover" alt="Gambar 3">
            </div>
        </div>
        
        <div class="flex flex-col justify-center items-start space-y-4 h-full p-8">
            <div class="w-6 h-6 bg-white-700 flex items-center justify-center text-white text-center font-semibold text-sm">
                <img src="img/Untitled-1.png" alt="Logo">
            </div>
            
            <p class="text-lg font-medium">I’m available for every opportunity!</p>
            <p>Interested in working with me? Need help on your project? Or just wanna say hi? I’d love to hear you about that.</p>
            
            <div>
                <p><a href="mailto:anandamarza44@gmail.com" class="bg-black text-white py-3 px-6 transition transform hover:scale-105 hover:bg-gray-400 active:scale-95 active:bg-gray-900 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50">Contact me</a></p>
            </div>
            <div>
                <p>
                    Copyright.2023 by Muhammad Marza Ananda
                </p>
            </div>
            <div class="flex space-x-4">
                <a href="https://github.com/marzaananda" class="text-black hover:text-gray-500"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/deonzt_21/" class="text-black hover:text-gray-500"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/muhammad-marza-ananda-0a3145309/" class="text-black hover:text-gray-500"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <button id="scrollToTopButton">To The top</button>
</footer>


    
    <script src="jascript/fade-in.js"></script>
    <script src="scrollToTop.js"></script>
    <!-- <script src="jascript/icon.js"></script> -->
    <script src="language-toggle.js" defer></script>
</body>
</html>
