@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.image-container {
    background-image: url('/img/poto.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    
    
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.textlama {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

    .circle-container {
    width: 500px;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    overflow: hidden;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .circle-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.fade-in-element {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0); 
}
#scrollToTopButton {
    display: none; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: #697565; 
    color: white;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#scrollToTopButton:hover {
    background-color: #3C3D37; 
    transform: scale(1.1); 
}

    .fade {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-out {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
    }


    .fade {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-out {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
    }
   
    .mt-8 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #load-more, #close-projects {
        width: auto; 
        display: inline-block; 
    }
    .slideshow-container {
        position: relative;
        max-width: 100%; 
        overflow: hidden; 
    }

    .slides {
        display: none;
        width: 100%;
        height: 100%;
    }

    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .active {
        display: block;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from { opacity: 0.4; }
        to { opacity: 1; }
    }

